body{
	color: #ffffff;
	background-color: #292929;
	font-family: 'Bree Serif', serif;
	margin:0;
}
.container{

	display:flex;
	flex-direction: column;
	justify-content: space-between;
	height:100vh;
}
h1{
	text-align: center;
	padding:3% 0 0 0;
}

h2{
	text-align: center;
	padding:3% 0 0 0;
}
.napisy{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.zdjecia{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.photo img{
	border-radius:15px;
	width: 300px;
	height:400px;
}
.photo img:hover{
	filter: sepia(50%);
}
.photo a{
	text-decoration: none;
	color:#fff;
}
.photo a:hover{
	color:#AAAAAA;
}
.footer{
	text-align: center;
	padding: 60px 0 0 0;
}

@media screen and (max-width: 768px) {
	.zdjecia{
			display:flex;
			flex-direction: column;
			align-items: center;
		}
	.container{
		height:100%;
	}

}